<div class="container my-5" data-controller="api--v1--otps">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h3>Forgot Password</h3>
        </div>
        <div class="card-body">
          <form data-action="submit->api--v1--otps#sendOtp" data-api--v1--otps-target="form">
            <div class="alert alert-danger error-message" data-api--v1--otps-target="errorMessage" style="display: none;"></div>
            <div class="text-center mt-3">
              <div class="spinner-border text-primary loader" role="status" style="display: none;" data-api--v1--otps-target="loader">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="text" id="phone" class="form-control" placeholder="Enter your phone number" data-api--v1--otps-target="phoneInput">
            </div>
            <div class="form-group text-center mb-3">
              <button type="submit" class="btn btn-primary w-100" data-api--v1--otps-target="submitButton">Send OTP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
