<div class="container my-5" data-controller="api--v1--passwords">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h3>Reset Password</h3>
        </div>
        <div class="card-body">
          <form data-action="submit->api--v1--passwords#updatePassword" data-api--v1--passwords-target="form">
            <p data-api--v1--passwords-target="message" class="alert alert-success text-center" style="display: none;"></p>
            <div class="alert alert-danger error-message" data-api--v1--passwords-target="errorMessage" style="display: none;"></div>
            <div class="text-center mt-3">
              <div class="spinner-border text-primary loader" role="status" style="display: none;" data-api--v1--passwords-target="loader">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="text" id="phone" class="form-control" data-api--v1--passwords-target="phoneInput" disabled>
            </div>

            <div class="form-group mb-3">
              <label for="otp" class="form-label">OTP</label>
              <input type="text" id="otp" class="form-control" placeholder="Enter the OTP" data-api--v1--passwords-target="otpInput">
            </div>

            <div class="form-group mb-3">
              <label for="password" class="form-label">New Password</label>
              <input type="password" id="password" class="form-control" placeholder="Enter new password" data-api--v1--passwords-target="passwordInput">
            </div>

            <div class="form-group mb-3">
              <label for="password_confirmation" class="form-label">Confirm New Password</label>
              <input type="password" id="password_confirmation" class="form-control" placeholder="Confirm new password" data-api--v1--passwords-target="passwordConfirmationInput">
            </div>

            <div class="form-group text-center mb-3">
              <button type="submit" class="btn btn-primary w-100" data-api--v1--passwords-target="submitButton">Update Password</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
